/*CSS BY Nejat Nehan*/

/*IMPORTED FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*ROOT VARIABLES*/
body{
    font-family: 'playfair display';
    display: flex;
    flex-direction: column;
}

header{
    background-color: #1f2a44;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 5.5rem;
    font-weight: bold;
    color: #faf9f6;
    
}

header p{
    color: #faf9f6;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.7rem;
    font-style: italic;
}

nav{
    background-color: #E5C185;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    gap: 175px;
}

nav a{
    color: #2B2B2B;
    text-decoration: none;
    font-size: 2.1rem;
    font-weight: bold;

}

.fandf h2{
    font-size: 3rem;
    margin-top: 100px;
    margin-left: 320px;
    padding-bottom: 20px;
}

.fandf p{
    font-size: 1.47rem;
    margin-left: 320px;
    margin-right: 330px;
    line-height: 35px;

}

.hl{
    height: 3px;
    width: 1290px;
    background-color: #E5C185;
    margin-left: 320px;
    margin-top: 35px;
}

.oo h2{
    font-size: 3rem;
    margin-top: 50px;
    margin-left: 320px;
}

.ap div{
    background-color: #76885B;
    color: #faf9f6;
    margin-top: 50px;
    margin-left: 320px;
    margin-right: 950px;
    padding-bottom: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px silver;
}

.ap h3{
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 30px;
    margin-left: 25px;
}

.ap p{
    font-size: 1.57rem;
    margin-top: 15px;
    margin-left: 25px;
    line-height: 35px;
}

.ede div{
    background-color: #76885B;
    color: #faf9f6;
    margin-top: 50px;
    margin-left: 320px;
    margin-right: 950px;
    padding-bottom: 30px;
    border-radius: 15px;
    position: relative;
    left: 660px;
    bottom: 270px;
    box-shadow: 10px 10px 20px silver;
}

.ede h3{
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 30px;
    margin-left: 25px;
}

.ede p{
    font-size: 1.57rem;
    margin-top: 15px;
    margin-left: 25px;
    line-height: 35px;
}
.tffmb div{
    background-color: #76885B;
    color: #faf9f6;
    margin-left: 320px;
    position: relative;
    bottom: 245px;
    width: 1290px;
    border-radius: 15px;
    padding-bottom: 25px;
    padding-right: 5px;
    box-shadow: 10px 10px 20px silver;
}

.tffmb h3{
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 30px;
    margin-left: 25px;
}

.tffmb p{
    font-size: 1.57rem;
    margin-top: 15px;
    margin-left: 25px;
    line-height: 35px;
}

.tffmb ul{
    list-style: disc;
    font-size: 1.57rem;
    margin-top: 15px;
    margin-left: 25px;
    line-height: 35px;
    padding-left: 25px;
}

.hl2{
    height: 3px;
    width: 1290px;
    background-color: #E5C185;
    margin-left: 320px;
    margin-top: 35px;
    position: relative;
    bottom: 240px;
}

.agff div{
    position: relative;
    bottom: 200px;
    margin-left: 320px;
    padding-top: 5px;
}

.agff h2{
    font-size: 3rem;
    padding-bottom: 10px;
}

.agff p{
    font-size: 1.55rem;
    line-height: 35px;
    width: 1309px;
    
}

.pic1-600{
    position: relative;
    bottom: 170px;
    left: 320px;
    width: 230px;
    padding-bottom: 50px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgb(160, 158, 158);
    
}

.pic1-600 img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 230px;
}

.pic1-600 p{
    font-size: 1.3rem;
    font-style: italic;
    text-align: center;
    padding-top: 15px;
    line-height: 30px;
}

.pic2-600{
    position: relative;
    bottom: 450px;
    left: 590px;
    width: 230px;
    padding-bottom: 21px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgb(160, 158, 158);
}

.pic2-600 img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 230px;
}

.pic2-600 p{
    font-size: 1.3rem;
    font-style: italic;
    text-align: center;
    padding-top: 15px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.pic3-600{
    position: relative;
    bottom: 730px;
    left: 860px;
    width: 230px;
    padding-bottom: 21px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgb(160, 158, 158);
}
.pic3-600 img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 230px;
}

.pic3-600 p{
    font-size: 1.3rem;
    font-style: italic;
    text-align: center;
    padding-top: 15px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.pic4-600{
    position: relative;
    bottom: 1010px;
    left: 1130px;
    width: 230px;
    padding-bottom: 50px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgb(160, 158, 158);
}

.pic4-600 img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 230px;
}

.pic4-600 p{
    font-size: 1.3rem;
    font-style: italic;
    text-align: center;
    padding-top: 15px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.pic5-600{
    position: relative;
    bottom: 1290px;
    left: 1400px;
    width: 230px;
    padding-bottom: 50px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgb(160, 158, 158);
    margin-bottom: -1260px;
}

.pic5-600 img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 230px;
}

.pic5-600 p{
    font-size: 1.3rem;
    font-style: italic;
    text-align: center;
    padding-top: 15px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.vofg{
    background-color: #76885B;
    color: #faf9f6;
    margin-left: 320px;
    width: 1310px;
    border-radius: 10px;
}

.vofg p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
}

.hl3{
    height: 3px;
    width: 1310px;
    background-color: #E5C185;
    margin-left: 320px;
    margin-top: 35px;
    position: relative;
    margin-bottom: 50px;
}

footer{
    background-color: #1f2a44;
    padding-top: 100px;
    padding-bottom: 50px;
    
}

footer p{
    color: #faf9f6;
    text-align: center;
    font-size: 1.5rem;
    line-height: 40px;
}

.hello{
    color: #E5C185;
    font-weight: bold;
}

.instaface{
    color: #E5C185;
    font-weight: bold;
    padding-top: 90px;
}

/*GLOBAL STYLES (mobile first/small)*/

/*MEDIA QUERY (medium)*/

@media(max-width: 600px){

}

/*MEDIA QUERY (large)*/

@media(max-width: 900px){
    .pic4-600{
        padding-top: 500px;
        padding-right: 800px;
    }

    .pic5-600{
        padding-top: 500px;
        padding-right: 800px;
    }
}

/*MEDIA QUERY (xl)*/

